:root {
	--basic-red:#EE3643;
	--basic-white:#FFFFFF;
	--basic-black:#000000;	
	--basic-green:#63A63E;
	--special-greenlight:#8ED78F;
	--basic-grey:#EAEAEA;
	--background-grey:#32425C;
	--grey:#293449;
	--special-grey:#3D546F;
	--header-grey:#F3F7F9;
	--basic-greylight:#F1F5F7;
	--special-greylight:#C5C5C5;
	--special-yellow:#FFBF47;
	--special-blue:#3BBCE3;
	--special-lilac:#DC91D8;
	--special-yellowlight:#FFD180;
	--yellow:#FFC047;
	--muted-gray:#F9F5F0;
	--gray-for-del:#A9A9A9;
	--gray-botton:#F4F4F4;
	--gray-for-border:#E5E5E5;
	--gray-for-drill:#F2F6F8;
	--gray-for-control:#F7F3EC;
	--gray-active:#161D29;
	--gray-logo:#212A3A;
	--gray-for-back:#F1F1F1;
	--red-active:#CA2C37;

	--error:#BA2732;
	--success:#5FBB2D;

}


body {
	min-width: 960px;
	margin:0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 23px;
	color: var(--basic-white);
	background-color: var(--special-greylight);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


*, *::before, *::after { 
	box-sizing: border-box; 
}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
	display: inline-block;
	background-color: var(--basic-red);
	color: var(--basic-white);
	border: none;
	color: var(--basic-white);
	text-transform: uppercase;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	height: 38px;

}

.button:hover,
.button:focus	{
	background-color: var(--red-active);
	outline: none;
}

.button:active {
	background-color: var(--error);
	outline: none;
}

.wrapper {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}


.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container-header {
	background-color: var(--header-grey);
	padding-bottom: 60px;
}

.main-menu {
	background-color: var(--grey);
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	min-width: 42px;
}

.main-menu-color {
	background-color: var(--grey);
}


.logo {
	text-transform: uppercase;
	display: block;
	background-color: var(--basic-red);
	box-shadow: 0px 5px 0px rgba(186, 39, 50, 0.9);
	color: var(--basic-white);
	font-size: 25px;
	width: 220px;
	text-align: center;
	padding-top: 12px;
}

.logo:active {
	background-color: var(--error);
}


.button-search {
	position: relative;
	top: -8px;
	margin-left: 17px;
	margin-right: 0;
	background-color: inherit;
	background-image: url("../img/icon-search.svg");
	opacity: 0.3;
	background-position: 0 50%;
	background-repeat: no-repeat;
	border: none;
	color: var(--grey);
	padding: 10px;
}

.button-search:hover,
.button-search:focus {
	opacity: 1;
}

.button-search:active {
	background-color: var(--basic-white);
	background-image: url("../img/icon-search-active.svg");
}


.search {
	background-color: inherit;
	border: none;
	font-size: 18px;
	line-height: 24px;
	margin-right: 0;
	padding-top: 9px;
	padding-bottom: 9px;
}

.search:focus {
	background-color: var(--basic-white);
}

.search::placeholder {
	color: var(--basic-white);
}


.search:focus::placeholder {
	color: var(--basic-black);
}

.order-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}


.bookmark-link::before {
	content: url("../img/icon-bookmark.svg");
	opacity: 0.3;
	background-repeat: no-repeat;
	margin-right: 9px;
}

.bookmark-link:hover::before,
.bookmark-link:focus::before {
	opacity: 1;
}

.bookmark-link {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
	color: var(--basic-white);	
}
 
.bookmark-link:active {
	opacity: 0.3;
	background-color: var(--gray-active);
}


.cart::before {
	content: url("../img/icon-cart.svg");
	opacity: 0.3;
	background-repeat: no-repeat;
	margin-right: 9px;
}

.cart {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
	color: var(--basic-white);
}


.cart:hover::before,
.cart:focus::before {
	opacity: 1;
}

.cart:active {
	opacity: 0.3;
	background-color: var(--gray-active);
}

.cart-active::before {
	content: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	margin-right: 8px;
}

.cart-active {
	display: block;
	width: 150px;
	background-color: var(--basic-red);
	color: var(--basic-white);
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.order {
	display: block;
	width: 150px;
	background-color: var(--basic-green);
	color: var(--basic-white);
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.order:hover,
.order:focus {
	background-color: var(--success);
}

.order:active {
	color: rgba(255,255,255,0.5);
}

.main-header {
	background-color: var(--header-grey);

}

.main-header-information {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
}

.slogan {
	color: var(--basic-red);
	font-style: italic;
	font-size: 16px;
	width: 197px;
	margin: 0;
	padding-top: 37px;
	margin-left: 30px;
}

.container-information {
	display: flex;
	flex-direction: column;
	margin-top: 41px;
}

.telephone {
	color: var(--basic-red);
	border: 2px solid white;
	background-image: url("../img/icon-phone.svg");
	background-color: var(--basic-greylight);
	background-repeat: no-repeat;
	padding-left: 35px; 
}

.adress {
	color: var(--background-grey);
	font-size: 14px;
	line-height: 24px;
}

.navigation-users {
	list-style: none;
	display: grid;
	grid-template-columns: 121px 150px;
	column-gap: 10px;
	margin: 0;
	margin-top: 46px;
}

.nav-catalog {
	margin: 0;
}

.entry {
	display: block;
	min-height: 45px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	padding-left: 26px; 
}


.entry:hover,
.entry:focus {
	color: var(--basic-red);
	background-image: url("../img/icon-login-focus.svg");
}

.entry:active {
	background-image: url("../img/icon-login.svg");
	color: var(--special-greylight);
}

.registration {
	display: block;
	min-height: 45px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.registration:hover,
.registration:focus {
	color: var(--basic-red);
}

.registration:active {
	color: var(--special-greylight);
}

.account-block {
	margin-top: 41px;
	display: grid;
}

.account::before {
	content: url("../img/icon-user-focus.svg");
	opacity: 0.3;
}

.account:hover::before,
.account:focus::before {
	opacity: 1;
}

.account:active::before {
	opacity: 0.3;
}

.account {
	background-color: var(--basic-white);
	padding-top: 12px;
	padding-bottom: 12px;
}


.account:hover,
.account:focus {
	opacity: 1;
}

.account-name {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 21px;
	margin-left: 41px;
	margin-right: 20px;
}

.account-name:active {
	color: var(--special-greylight);
}

.personal-area {
	color: var(--background-grey);
	font-size: 16px;
	line-height: 18px;
}

.personal-area:hover,
.personal-area:focus {
	color: var(--basic-red);
}

.personal-area:active {
	color: var(--special-greylight);
}

.exit {
	background-image: url("../img/icon-exit.svg");
	background-color: var(--basic-white);
	background-repeat: no-repeat;
	background-position: 0 50%;
	opacity: 0.3;
	padding: 10px;
}

.exit:hover,
.exit:focus {
	opacity: 1;
}

.exit:active {
	opacity: 0.3;
}

.button:active {
		background-color: var(--error);
}


.site-navigation {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: var(--background-grey);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24); 
}


.site-navigation-item {
	display: block;
	color: var(--basic-white);
	padding: 20px;
	min-width: 122px;
	text-align: center;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
	background-color: var(--grey);
}

.site-navigation-item:active {
	background-color:#1D2739;
	color: rgba(255,255,255,0.5);
} 

.main-container {
	background-color: var(--basic-white);
	display: flex;
	flex-direction: column;
	padding-top: 59px;
}

.main-container-catalog {
	background-color: var(--basic-white);
	padding-top: 0;
	padding-bottom: 39px;

}

.main-page-container {
	display: grid;
	grid-template-columns: repeat(3, 300px) ;
	grid-template-rows: 123px auto;
	grid-column-gap: 20px; 
	grid-row-gap: 20px;
	padding-bottom: 59px;
}


.holder {
	list-style: none;
	margin:0;
	padding:0;
	display: grid;
	grid-template-columns: 300px 300px 300px;
	column-gap: 20px;
	grid-column: 1/4;
}

.holder-2 {
	list-style: none;
	margin:0;
	padding:0;
	display: grid;
	grid-template-rows: 123px 123px;
	row-gap:20px;
	grid-row:2/2; 
	grid-column:3/4;
}

.button-container {
	background-color: rgba(255,255,255,0.4);
	border: none;
	text-transform: uppercase;
	color: var(--basic-white);
	padding: 10px;
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 18px;
}

.button-container:hover,
.button-container:focus {
	background-color: rgba(197, 197, 197, 0.3);;
}

.button-container:active {
	background-color: rgba(169, 169, 169, 0.3);
	border: none;
}

.button-click:active {
	background-color: var(--error);

}

.card-items {
	background-position: 213px 31px;
	background-repeat: no-repeat;
	width: 300px;
	height: 123px;

}
.card-materials {
	background-color: var(--special-yellow);
	background-image: url("../img/icon-1.svg");
	
}

.card-tools {
	background-color: var(--special-blue);
	background-image: url("../img/icon-2.svg");
}

.card-equipment {
	background-color: var(--special-lilac);
	background-image: url("../img/icon-3.svg");
}

.card-discounts {
	background-color: var(--special-greenlight);
	background-image: url("../img/icon-4.svg");
}

.card-delivery {
	background-color: var(--yellow);
	background-image: url("../img/icon-5.svg");

}

.slider {
	background-repeat: no-repeat;
	width: 620px;
	height: 266px;
	grid-column:1/1;
	grid-row: 2/2;

}

.slider-hummer-drill {
	background-image: url("../img/hummer_drill.jpg");
}

.slider-drill {
	background-image: url("../img/drill.jpg");
}

.slider h2 {
	text-transform: uppercase;
}

.button-open {
	padding:11px 46px 9px 46px;
}

.button-back {
	border: none;
	background-image: url("../img/icon-left.svg");
	padding: 10px;
}

.button-forward {
	border: none;
	background-image: url("../img/icon-left.svg");
	transform: rotate(-180deg);
	padding: 10px;

}

.popular {
	color: var(--background-grey);
	background-color: var(--muted-gray);
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.popular h2 {
	font-size: 30px;
	line-height: 30px;
	margin-top: 29px;
	margin-bottom: 30px;
	margin-left: 28px;
}

.popular-goods-button {
	align-self: center;
	padding:11px 24px 9px 24px;
}

.goods-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 70px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px 20px;
}

.goods {
	border: 1px solid var(--basic-grey);
	color: var(--basic-black);
	width: 220px;
	height: 318px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

.goods:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}


.goods del {
	color: var(--gray-for-del);
	background-color: var(--basic-white);
}

.price-for-goods {
	background-color: var(--basic-red);
	color: var(--basic-white);
}

.buy {
	display: block;
	padding: 10px 12px 10px 48px;
	color: var(--basic-white);
	border: none;
	border-radius: 2px;
	background-color: var(--basic-green);
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 20px 10px;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	width: 135px;
	height: 38px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

}

.buy:hover,
.buy:focus {
	background-color: var(--success);
}

.buy:active {
	background-color: #518534;
}


.to-bookmarks {
	display: block;
	padding: 11px 20px 9px 20px;
	color: var(--background-grey);
	border: 2px solid var(--basic-green);
	border-radius: 2px;
	background-color: var(--basic-white);
	width: 135px;
	height: 38px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.to-bookmarks:hover,
.to-bookmarks:focus {
	border: 2px solid var(--background-grey);
}

.to-bookmarks:active {
	border: 2px solid var(--background-grey);
	opacity: 0.5;
}

.popular-manufactured-button {
	align-self: center;
	padding:11px 38px 9px 39px;
}

.manufacturer-list {
	list-style: none;
	margin: 0;
	margin-bottom: 70px;
	padding: 0;
	display: grid;
	grid-template-columns: 220px 220px 220px 220px;
	column-gap: 20px;
	row-gap:20px;
}


.manufacturer {
	background-color: var(--basic-white);
	width: 220px;
	height: 145px;
	border: 1px solid var(--basic-grey);
}


.manufacturer:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturer:active {
	opacity: 0.5;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.general-information-color {
	background-color: var(--basic-greylight);
}

.general-information {
	
	color: var(--basic-black);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;

}

.general-information h2 {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.features {
	list-style: none;
}

.switch {
	background-color: var(--background-grey);
	color: var(--basic-white);
	font-size: 21px;
	line-height: 30px;
	font-family: "Cuprum", Arial, sans-serif;
	border:none;
}

.switch:hover,
.switch:focus {
	background-color: var(--grey);
}

.switch-on,
.switch-on:hover,
.switch-on:focus {
	color: var(--background-grey);
	background-color: var(--basic-white);
	font-size: 21px;
	line-height: 30px;
	font-family: "Cuprum", Arial, sans-serif;
	border:none;
}


.service-slide {
	background-repeat: no-repeat;
	width: 619px;
	height: 283px;
	background-position: 20px 25px;

}

.service-slide h2 {
	color: var(--background-grey); 
}


.text-delivery {
	background-image: url("../img/delivery.png");
}

.text-guarantee {
	background-image: url("../img/guarantee.png");
}


.text-credit {
	background-image: url("../img/credit.png");
}

.order-button {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
}


.breadcrumbs {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin-top: 0;
	margin-bottom: 20px;
	padding-top: 21px;
}

.catalog {
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.catalog-navigation {
	font-family: "PT Sans", Arial, sans-serif;
	color: var(--basic-black);
	font-size: 13px;
	line-height: 18px;
	margin-right: 40px;
}

.catalog-navigation-main {
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 0 50%;
	font-family: "PT Sans", Arial, sans-serif;
	color: var(--basic-black);
	font-size: 13px;
	line-height: 18px;
	padding: 10px;
}

.hummer-drill {
	display: block;
	background-color: var(--gray-for-drill);
	color: var(--background-grey);
	text-transform: uppercase;
	height: 89px;
	min-width: 940px;
	align-items: center;
	margin: 0;
	margin-bottom: 20px;
	padding-top: 29px;
	padding-left: 29px;
	padding-bottom: 30px;
}

.container-catalog {
	display: grid;
	grid-template-columns: 220px auto;
	grid-template-rows: 38px auto;
	grid-row-gap: 28px;
	column-gap: 20px;
}

.filter-catalog {
	grid-column: 1/1;
	grid-row: 2/2;
}

.goods-list-catalog {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 220px 220px 220px;
	grid-template-rows: 318px 318px 318px;
	column-gap: 20px;
	row-gap:20px;
	grid-column: 2/2;
	grid-row: 2/2

}

.filtr-control-panel {
	display: block;
	background-color: var(--gray-for-control);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black); 
	text-transform: uppercase;
	grid-column: 1/1;
	grid-row: 1/1;
	margin: 0;
	height: 38px;
	align-self: center;
}


.control-panel {
	display: flex;
	justify-content: space-between;
	background-color: var(--gray-for-control);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black); 
	text-transform: uppercase;
	grid-column: 2/2;
	grid-row: 1/1;
	margin: 0;
	align-self: center;
	height: 38px;
}

.control-panel-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.control-panel-item {
	border-bottom: 2px dotted red;
	opacity: 0.3;
	margin-right: 70px;
}

.control-panel-item:hover,
.control-panel-item:focus {
	border-bottom: 2px solid red;
	color: var(--basic-black);
	opacity: 1;
}
.selected,
.selected:hover,
.selected:focus {
	color: var(--basic-red);
	opacity: 1;
	border:none;
}



.up {
	background-image: url("../img/icon-down-dir-hover.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
	display: block;
	padding: 15px;
}

.up-activity {
	background-image: url("../img/icon-down-dir.svg");
	opacity: 1;
}

.up:hover {
	background-image: url("../img/icon-down-dir-hover.svg");
	opacity: 1;
}


.down {
	background-image: url("../img/icon-down-dir-hover.svg");
	transform: rotateX(180deg);
	background-repeat: no-repeat;
	opacity: 0.3;
	display: block;
	padding: 15px;
}

.down-activity {
	background-image: url("../img/icon-down-dir.svg");
	opacity: 1;

}

.down:hover {
	opacity: 1;
}


.price {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--basic-black); 
	text-transform: uppercase;
}

.range-line {
	background-image: url("../img/Bitmap.svg");
	background-repeat: no-repeat;
}

.range {
	background-color: var(--gray-for-control);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--basic-black); 
	text-transform: uppercase;

}

.border-fieldset {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

fieldset {
	border: none;
}

legend {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--basic-black); 
	text-transform: uppercase;
}

fieldset label {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 19px;
	color: var(--basic-black); 
	text-transform: uppercase;
}

.form-manufacturer-list {
	list-style: none;
}

.form-power-list {
	list-style: none;
}

.checkbox {
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;

}

.form-button {
	background-color: var(--basic-white);
	border:1px solid var(--gray-for-border);
	text-transform: uppercase;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;

}

.about-drills-color {
	background-color: var(--basic-greylight);
}


.about-drills {
	
	color: var(--basic-black);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding-top: 64px;
	padding-bottom: 68px;

}

.about-drills h3 {
	font-family: "Cuprum", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	margin:0;
	margin-bottom: 25px;
}

.about-drills p {
	margin:0;
}

.pagination {
	margin:0;
	padding: 0;
	margin-top: 38px;
	list-style: none;
	grid-column: 2/2;
	display: flex;
	justify-content: flex-start;
}

.pagination-link {
	display: block;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-white);
	border: 1px solid var(--gray-for-border);
	border-radius: 2px;
	color: var(--basic-black);
	text-transform: uppercase;
	text-align: center;
	padding: 10px 15px;
	margin-right: 10px;

}


.pagination-link:active {
	border: 1px solid var(--basic-red);
}

.pagination-link-active {
	background-color: var(--basic-red);
	color: var(--basic-white);
}

.container-about-company {
	min-width: 960px;
	background-color: var(--basic-white);
	color: var(--basic-black);
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.about-company {
	width: 460px;
	margin-bottom: 70px;
	padding-bottom: 40px;
}

.headline {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.desc {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 1px;
}

.delivery-list {
	list-style: none;
	margin:0;
	margin-bottom: 20px;
}

.delivery-list-item::before {
	content: "";
	background-color: var(--basic-red);
}

.delivery-list-item {
	margin-bottom: 12px;
}

.button-about {
	width: 220px;
	padding:11px 40px 9px 40px;
}

.contacts {
	width: 300px;
}

.contacts .desc {
	width: 200px;
	margin-top: 24px;
	margin-bottom: 32px;
}

.write-button {
	margin-top: 24px;
	width: 300px;
}

.page-footer {
	background-color: var(--background-grey);
}

.footer-information {
	display: flex;
	justify-content: space-between;
	}

.logo-footer {
	width: 220px;
	height: 68px;
	padding: 20px 41px 25px 41px;
	font-size: 30px;
	margin-bottom: 22px;
}

.information {
	margin-top: 0;
	font-size: 18px;
	line-height: 24px;
	color: var(--header-grey);
}


.footer-navigation-items {
	list-style: none;
	margin: 0;
	margin-top: 37px;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer-navigation-container {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	column-gap: 58px;
	margin-bottom: 34px;
}

.footer-catalog-container {
	display: grid;
	grid-template-columns: repeat(4,1fr);

}


.footer-navigation {
	display: block;
	line-height: 24px;
	color: var(--basic-greylight);
}

.footer-navigation:hover,
.footer-navigation:focus {
	text-decoration: underline;
}

.footer-navigation:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-catalog {
	display: block;
	line-height: 24px;
	color: var(--special-yellowlight);
}

.footer-catalog:hover,
.footer-catalog:focus {
	text-decoration: underline;
}


.footer-catalog:active {
	opacity: 0.5;
	text-decoration: none;
}

.main-footer-color {
	background-color: var(--grey);
}

.main-footer {
	margin-top: 36px;
	display: flex;
	justify-content: space-between;
}

.copyright-container {
	display: flex;
	flex-direction: column;
}

.copyright {
	font-size: 16px;
	line-height: 18px;
}

.socials {
	list-style: none;
	margin:0;
	padding: 0;
	display: flex;
}


.social-icon {
	background-color: var(--gray-logo);
	padding-right: 5px;
	height: 44px;
	width: 44px;
	border-radius: 50%;
}

.social-icon:hover,
.social-icon:focus,
.social-icon:active {
	background-color: var(--basic-red);
}

.academy {
	display: block;
	color: var(--special-yellowlight); 
}

.academy:hover,
.academy:focus {
	text-decoration: underline
}

.academy:active {
	text-decoration: none;
	color: var(--basic-red);
}


.bag {
	background-color: var(--gray-for-back);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.add-to-bag {
	background-color: var(--basic-white);
	color: var(--basic-black);
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

}

.button-close {
	padding: 10px;
	background-image: url("../img/icon-close.svg");
	background-repeat: no-repeat;
}

.button-close:hover,
.button-close:focus,
.button-close:active {
	transform: rotate(90deg);
}

.continue {
	background-color: var(--basic-white);
	color: var(--basic-black);
}

.write-us {
	background-color: var(--basic-white);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.write-information {
	color: var(--basic-black);
	font-size: 18px;
	line-height: 24px;
}

.area-for-information {
	background-color: var(--basic-white);
	color: var(--gray-for-del);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	border: 2px solid var(--special-greylight);
}

.area-for-button {
	background-color: var(--gray-botton);

}

