:root {
	--basic-red:#EE3643;
	--basic-white:#FFFFFF;
	--basic-black:#000000;	
	--basic-green:#63A63E;
	--special-greenlight:#8ED78F;
	--basic-grey:#EAEAEA;
	--background-grey:#32425C;
	--grey:#293449;
	--special-grey:#3D546F;
	--header-grey:#F3F7F9;
	--basic-greylight:#F1F5F7;
	--special-greylight:#C5C5C5;
	--special-yellow:#FFBF47;
	--special-blue:#3BBCE3;
	--special-lilac:#DC91D8;
	--special-yellowlight:#FFD180;
	--yellow:#FFC047;
	--muted-gray:#F9F5F0;
	--gray-for-del:#A9A9A9;
	--gray-botton:#F4F4F4;
	--gray-for-border:#E5E5E5;
	--gray-for-drill:#F2F6F8;
	--gray-for-control:#F7F3EC;
	--gray-active:#161D29;
	--gray-logo:#212A3A;
	--gray-for-back:#F1F1F1;

	--error:#BA2732;
	--success:#5FBB2D;

}


body {
	min-width: 960px;
	margin:0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 23px;
	color: var(--basic-white);
	background-color: var(--special-greylight);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


*, *::before, *::after { 
	box-sizing: border-box; 
}

.visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu {
	background-color: var(--grey);
	}

.logo {
	text-transform: uppercase;
	display: block;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	color: var(--basic-white);
}

.logo:active {
	background-color: var(--error);
}


.button-search {
	margin-left: 20px;
	background-color: inherit;
	background-image: url("../img/icon-search.svg");
	opacity: 0.3;
	background-position: 0 50%;
	background-repeat: no-repeat;
	border: none;
	color: var(--grey);
	padding: 10px;
}

.button-search:hover,
.button-search:focus {
	opacity: 1;
}

.button-search:active {
	background-color: var(--basic-white);
	background-image: url("../img/icon-search-active.svg");
}


.search {
	background-color: inherit;
	border: none;
	font-size: 18px;
	line-height: 24px;
	margin-right: 0;
}

.search:focus {
	background-color: var(--basic-white);
}

.search::placeholder {
	color: var(--basic-white);
}


.search:focus::placeholder {
	color: var(--basic-black);
}

.navigation-list {
	list-style: none;
}


.bookmark-link::before {
	content: url("../img/icon-bookmark.svg");
	opacity: 0.3;
	background-repeat: no-repeat;
	margin-right: 9px;
}

.bookmark-link:hover::before,
.bookmark-link:focus::before {
	opacity: 1;
}

.bookmark-link {
	color: var(--basic-white);
}
 
.bookmark-link:active {
	opacity: 0.3;
	background-color: var(--gray-active);
}


.cart::before {
	content: url("../img/icon-cart.svg");
	opacity: 0.3;
	background-repeat: no-repeat;
	margin-right: 9px;
}

.cart {
	color: var(--basic-white);
}


.cart:hover::before,
.cart:focus::before {
	opacity: 1;
}

.cart:active {
	opacity: 0.3;
	background-color: var(--gray-active);
}

.cart-active {
	background-image: url("../img/icon-cart.svg");
	background-color: var(--basic-red);
	background-repeat: no-repeat;
	padding-left: 25px;
	color: var(--basic-white);

}

.order {
	background-color: var(--basic-green);
	color: var(--basic-white);
}

.order:hover,
.order:focus {
	background-color: var(--success);
}

.order:active {
	color: rgba(255,255,255,0.5);
}

.main-header {
	background-color: var(--header-grey);

}

.slogan {
	color: var(--basic-red);
	font-style: italic;
	font-size: 16px;
}

.telephone {
	color: var(--basic-red);
	border: 2px solid white;
	background-image: url("../img/icon-phone.svg");
	background-color: var(--basic-greylight);
	background-repeat: no-repeat;
	padding-left: 35px; 
}

.adress {
	color: var(--background-grey);
	font-size: 14px;
	line-height: 24px;
}

.entry {
	color: var(--basic-black);
	background-color: var(--basic-white);
	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
	padding-left: 26px; 
}


.entry:hover,
.entry:focus {
	color: var(--basic-red);
	background-image: url("../img/icon-login-focus.svg");
}

.entry:active {
	background-image: url("../img/icon-login.svg");
	color: var(--special-greylight);
}

.registration {
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.registration:hover,
.registration:focus {
	color: var(--basic-red);
}

.registration:active {
	color: var(--special-greylight);
}

.account::before {
	content: url("../img/icon-user-focus.svg");
	opacity: 0.3;
}

.account:hover::before,
.account:focus::before {
	opacity: 1;
}

.account:active::before {
	opacity: 0.3;
}

.account {
	background-color: var(--basic-white);
}


.account:hover,
.account:focus {
	opacity: 1;
}

.account-name {
	color: var(--basic-black);
	font-size: 21px;
	line-height: 21px;
	margin-left: 41px;
	margin-right: 20px;
}

.account-name:active {
	color: var(--special-greylight);
}

.personal-area {
	color: var(--background-grey);
	font-size: 16px;
	line-height: 18px;
}

.personal-area:hover,
.personal-area:focus {
	color: var(--basic-red);
}

.personal-area:active {
	color: var(--special-greylight);
}

.exit {
	background-image: url("../img/icon-exit.svg");
	background-color: var(--basic-white);
	background-repeat: no-repeat;
	background-position: 0 50%;
	opacity: 0.3;
	padding: 10px;
}

.exit:hover,
.exit:focus {
	opacity: 1;
}

.exit:active {
	opacity: 0.3;
}

.button {
	background-color: var(--basic-red);
	color: var(--basic-white);
	border: none;
	color: var(--basic-white);
	text-transform: uppercase;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;

}

.navigation-users {
	list-style: none;
}


.site-navigation {
	background-color: var(--background-grey);
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24); 
	padding:10px;
}
.site-navigation-item {
	color: var(--basic-white);
	padding: 10px;

}

.site-navigation-item:hover,
.site-navigation-item:focus {
	background-color: var(--grey);
}

.site-navigation-item:active {
	background-color:#1D2739;
	color: rgba(255,255,255,0.5);
} 

.main-container {
	background-color: var(--basic-white);
}


.holder {
	list-style: none;
}


.button-container {
	background-color: rgba(255,255,255,0.4);
	border: none;
	text-transform: uppercase;
	color: var(--basic-white);
	padding: 10px;
	font-family: "Cuprum";
	font-size: 14px;
	line-height: 18px;
}

.button-container:hover,
.button-container:focus {
	background-color: rgba(197, 197, 197, 0.3);;
}

.button-container:active {
	background-color: rgba(169, 169, 169, 0.3);
	border: none;
}

.button-click:active {
	background-color: var(--error);

}

.card-items {
	background-position: 213px 31px;
	background-repeat: no-repeat;
	width: 300px;
	height: 123px;

}
.card-materials {
	background-color: var(--special-yellow);
	background-image: url("../img/icon-1.svg");
	
}

.card-tools {
	background-color: var(--special-blue);
	background-image: url("../img/icon-2.svg");
}

.card-equipment {
	background-color: var(--special-lilac);
	background-image: url("../img/icon-3.svg");
}

.card-discounts {
	background-color: var(--special-greenlight);
	background-image: url("../img/icon-4.svg");
}

.card-delivery {
	background-color: var(--yellow);
	background-image: url("../img/icon-5.svg");

}

.slider {
	background-image: url("../img/hummer_drill.jpg");
	background-repeat: no-repeat;
	width: 620px;
	height: 266px;

}

.slider h2 {
	text-transform: uppercase;
}


.button-back {
	border: none;
	background-image: url("../img/icon-left.svg");
	padding: 10px;
}

.button-forward {
	border: none;
	background-image: url("../img/icon-left.svg");
	transform: rotate(-180deg);
	padding: 10px;

}

.popular {
	color: var(--background-grey);
	background-color: var(--muted-gray);
	text-transform: uppercase;
}

.popular h2 {
	font-size: 30px;
	line-height: 30px;
}

.goods-list {
	list-style: none;
}

.goods {
	border: 1px solid var(--basic-grey);
	color: var(--basic-black);
	width: 220px;
	height: 318px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

.goods:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}


.goods del {
	color: var(--gray-for-del);
	background-color: var(--basic-white);
}

.price-for-goods {
	background-color: var(--basic-red);
	color: var(--basic-white);
}

.buy {
	display: block;
	padding: 10px 12px 10px 48px;
	color: var(--basic-white);
	border: none;
	border-radius: 2px;
	background-color: var(--basic-green);
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 20px 10px;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
	width: 135px;
	height: 38px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

}

.buy:hover,
.buy:focus {
	background-color: var(--success);
}

.buy:active {
	background-color: #518534;
}


.to-bookmarks {
	display: block;
	padding: 11px 20px 9px 20px;
	color: var(--background-grey);
	border: 2px solid var(--basic-green);
	border-radius: 2px;
	background-color: var(--basic-white);
	width: 135px;
	height: 38px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.to-bookmarks:hover,
.to-bookmarks:focus {
	border: 2px solid var(--background-grey);
}

.to-bookmarks:active {
	border: 2px solid var(--background-grey);
	opacity: 0.5;
}

.manufacturer-list {
	list-style: none;
}


.manufacturer {
	background-color: var(--basic-white);
	width: 220px;
	height: 145px;
	border: 1px solid var(--basic-grey);
}


.manufacturer:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturer:active {
	opacity: 0.5;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.general-information {
	background-color: var(--basic-greylight);
	color: var(--basic-black);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;

}

.general-information h2 {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.features {
	list-style: none;
}

.switch {
	background-color: var(--background-grey);
	color: var(--basic-white);
	font-size: 21px;
	line-height: 30px;
	font-family: "Cuprum", Arial, sans-serif;
	border:none;
}

.switch:hover,
.switch:focus {
	background-color: var(--grey);
}

.switch-on,
.switch-on:hover,
.switch-on:focus {
	color: var(--background-grey);
	background-color: var(--basic-white);
	font-size: 21px;
	line-height: 30px;
	font-family: "Cuprum", Arial, sans-serif;
	border:none;
}


.service-slide {
	background-repeat: no-repeat;
	width: 619px;
	height: 283px;
	background-position: 20px 25px;

}

.service-slide h2 {
	color: var(--background-grey); 
}


.text-delivery {
	background-image: url("../img/delivery.png");
}

.text-guarantee {
	background-image: url("../img/guarantee.png");
}


.text-credit {
	background-image: url("../img/credit.png");
}


.breadcrumbs {
	list-style: none;
}

.catalog {
	color: var(--basic-black);
}

.catalog-navigation {
	font-family: "PT Sans", Arial, sans-serif;
	color: var(--basic-black);
	font-size: 13px;
	line-height: 18px;
}

.catalog-navigation-main {
	background-image: url("../img/icon-home.svg");
	background-repeat: no-repeat;
	background-position: 0 50%;
	font-family: "PT Sans", Arial, sans-serif;
	color: var(--basic-black);
	font-size: 13px;
	line-height: 18px;
	padding: 10px;
}

.hummer-drill {
	background-color: var(--gray-for-drill);
	color: var(--background-grey);
	text-transform: uppercase;
}

.control-panel-list {
	list-style: none;
}

.control-panel {
	background-color: var(--gray-for-control);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black); 
	text-transform: uppercase;
}

.control-panel-item {
	border-bottom: 2px dotted red;
	opacity: 0.3;
}

.control-panel-item:hover,
.control-panel-item:focus {
	border-bottom: 2px solid red;
	color: var(--basic-black);
	opacity: 1;
}
.selected,
.selected:hover,
.selected:focus {
	color: var(--basic-red);
	opacity: 1;
	border:none;
}



.up {
	background-image: url("../img/icon-down-dir-hover.svg");
	background-repeat: no-repeat;
	opacity: 0.3;
	display: block;
	padding: 15px;
	margin-top: 15px;
}

.up-activity {
	background-image: url("../img/icon-down-dir.svg");
	opacity: 1;
}

.up:hover {
	background-image: url("../img/icon-down-dir-hover.svg");
	opacity: 1;
}


.down {
	background-image: url("../img/icon-down-dir-hover.svg");
	transform: rotateX(180deg);
	background-repeat: no-repeat;
	opacity: 0.3;
	display: block;
	padding: 15px;
	margin-top: 15px;
}

.down-activity {
	background-image: url("../img/icon-down-dir.svg");
	opacity: 1;

}

.down:hover {
	opacity: 1;
}


.price {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--basic-black); 
	text-transform: uppercase;
}

.range-line {
	background-image: url("../img/Bitmap.svg");
	background-repeat: no-repeat;
}

.range {
	background-color: var(--gray-for-control);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--basic-black); 
	text-transform: uppercase;

}

.border-fieldset {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

fieldset {
	border: none;
}

legend {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--basic-black); 
	text-transform: uppercase;
}

fieldset label {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 19px;
	color: var(--basic-black); 
	text-transform: uppercase;
}

.checkbox {
	background-image: url("../img/delivery.png");
	background-repeat: no-repeat;

}

.form-button {
	background-color: var(--basic-white);
	border:1px solid var(--gray-for-border);
	text-transform: uppercase;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;

}

.about-drills {
	background-color: var(--basic-greylight);
	color: var(--basic-black);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;

}

.about-drills h3 {
	font-family: "Cuprum", Arial, sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
}

.pagination {
	list-style: none;
}

.pagination-link-active {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-red);
	border: none;
	color: var(--basic-white);
	text-transform: uppercase;
	text-align: center;

}

.pagination-link {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: var(--basic-white);
	border: 1px solid var(--gray-for-border);
	border-radius: 2px;
	color: var(--basic-black);
	text-transform: uppercase;
	text-align: center;

}

.pagination-link:active {
	border: 1px solid var(--basic-red);
}


.container {
	background-color: var(--basic-white);
	color: var(--basic-black); 
}


.headline {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.desc {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.delivery-list {
	list-style: none;
}

.delivery-list-item::before {
	content: "";
	background-color: var(--basic-red);
}

.delivery-list-item {
	
}

.hidden {
	display: block;
}

.page-footer {
	background-color: var(--background-grey);
}

.information {
	font-size: 18px;
	line-height: 24px;
	color: var(--header-grey);
}


.footer-navigation-items {
	list-style: none;
}


.footer-navigation {
	line-height: 24px;
	color: var(--basic-greylight);
}

.footer-navigation:hover,
.footer-navigation:focus {
	text-decoration: underline;
}

.footer-navigation:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-catalog {
	line-height: 24px;
	color: var(--special-yellowlight);
}

.footer-catalog:hover,
.footer-catalog:focus {
	text-decoration: underline;
}


.footer-catalog:active {
	opacity: 0.5;
	text-decoration: none;
}


.main-footer {
	background-color: var(--grey);
}

.copyright {
	font-size: 16px;
	line-height: 18px;
}

.social {
	list-style: none;
}


.social-icon {
	background-color: var(--gray-logo);
	height: 44px;
	width: 44px;
	border-radius: 50%;
}

.social-icon:hover,
.social-icon:focus,
.social-icon:active {
	background-color: var(--basic-red);
}

.academy {
	color: var(--special-yellowlight); 
}

.academy:hover,
.academy:focus {
	text-decoration: underline
}

.academy:active {
	text-decoration: none;
	color: var(--basic-red);
}


.bag {
	background-color: var(--gray-for-back);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.add-to-bag {
	background-color: var(--basic-white);
	color: var(--basic-black);
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;

}

.button-close {
	padding: 10px;
	background-image: url("../img/icon-close.svg");
	background-repeat: no-repeat;
}

.button-close:hover,
.button-close:focus,
.button-close:active {
	transform: rotate(90deg);
}

.continue {
	background-color: var(--basic-white);
	color: var(--basic-black);
}

.write-us {
	background-color: var(--basic-white);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.write-information {
	color: var(--basic-black);
	font-size: 18px;
	line-height: 24px;
}

.area-for-information {
	background-color: var(--basic-white);
	color: var(--gray-for-del);
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	border: 2px solid var(--special-greylight);
}

.area-for-button {
	background-color: var(--gray-botton);

}

